@use "config/utils";
@import "config/config";
@import "config/base";
@import "components/buttons";
@import "components/dark";
@import "components/toggle";
@import "components/footer";
* {
  margin: 0px;
  padding: 0px;
}

body {
  position: relative;
  transition: all 0.5s ease-out;
}

img {
  object-fit: contain;
}

.navbar__logo-wrapper {
  width: 8rem;
  & > .navbar__logo {
    width: 100%;
  }
}

.navbar__space {
  display: flex;
  justify-content: space-between;
  width: 62%;
  /* flex: 50%; */
}
.navbar {
  @include utils.flexBox(space-between, center);
  padding: 15px 25px;
}
.card__img-wrapper {
  min-width: 23.5rem;
  border-radius: 48px 48px 0 0;
  overflow: hidden;
  height: 20.6875rem;
}
.navbar__menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  &-text {
    font-size: 1.5rem;
    margin: 0px 20px;
    cursor: pointer;
  }
  &--active {
    border-bottom: 2px solid $primary_color;
  }
}

.navbar__right {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  align-items: center;
  &-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 1.2rem;
  }
}
.cart--secondary {
  width: 20px;
  filter: invert(29%) sepia(87%) saturate(1903%) hue-rotate(356deg)
    brightness(101%) contrast(89%);
}

.main__header-span {
  color: $primary_color;
}

.exclusive-section__left {
  width: 40%;
}
.main-section {
  @include utils.flexBox(space-between, center);
  top: -60px;
  width: 100%;
  position: relative;
  &__left {
    margin-bottom: 2rem;
  }
  & .main__header {
    font-size: 5.313rem;
    font-weight: 700;
    width: 90%;
    line-height: 70px;
  }
  & .main__desc {
    font-size: 2rem;
    color: #282828;
    font-weight: 250;
    width: 100%;
    margin: 20px 0;
  }
}

.main__footer {
  position: absolute;
  width: 100%;
  bottom: 0.5rem;
  @include utils.flexBox(space-around, end);
  & .main-section__right {
    @include utils.flexBox(start, start);
    gap: 2.5rem;
    overflow: auto;
    padding: 20px;
  }
}
.main__img-wrapper {
  /* position: relative; */
  position: relative;
  z-index: -99;

  & > img {
    object-fit: cover;
  }
}
.main__card-title {
  font-weight: 400;
  font-size: 1.5rem;
}
.main__card-img-wrapper {
  z-index: 100;
  .card-img {
    margin-bottom: -103px;
  }
}
.main__card-section {
  border-radius: 15px;
  z-index: 99;
  max-width: 21.875rem;
  border-radius: 1.5625rem;
  border: 1px solid rgba(255, 255, 255, 0.7);
  background: linear-gradient(
    116deg,
    rgba(192, 192, 192, 0.63) -10.88%,
    rgba(255, 255, 255, 0.49) -10.87%,
    rgba(255, 255, 255, 0.07) 74.79%
  );
  padding: 5.81rem 5.94rem 2.94rem 0.94rem;
  backdrop-filter: blur(15px);
}
.main-section__left {
  padding-left: 5.062rem;
  width: 50%;
}
// .main__header {
//   line-height: 6.25rem;
//   width: 100%;
// }
.main__card {
  @include utils.flexBox(center, center);
  flex-direction: column;
}
img {
  object-fit: contain;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card--active {
  color: $yellow_color;
  font-size: 1.438rem;
  font-weight: 400;
  margin-right: 1.06rem;
}
.card--inactive {
  text-decoration-line: line-through;
  font-size: 1.125rem;
}

.section {
  padding: 4.875rem 0rem 7.875rem 4.875rem;
  width: 100%;
}
.section-header {
  width: 100%;
  text-align: center;
  font-size: 4rem;
  margin-top: 4.875rem;
}
.popular {
  background: #282828;

  width: 23.6rem;
}
.main {
  position: relative;
}

.card-section-row {
  @include utils.flexBox(start, center);
  overflow: auto;
  gap: 7.75rem;
  padding: 6.44rem 8.06rem 3rem 8.06rem;
  .card {
    border-radius: 48px;
    padding-bottom: 1.75rem;
    @include utils.flexBox(start, start);
    flex-direction: column;

    .card__details {
      color: white;
      padding: 8px 22px;
      & > ul {
        margin: 10px 25px;
      }
      & .card__header {
        font-size: 1.625rem;
        font-weight: 400;
      }
      & .card__details-list {
        font-weight: 400;
        padding: 4px 0px;
      }
    }
  }
}

.musify {
  width: 80%;
  margin: auto;
  margin-top: 6.06rem;
  margin-bottom: 6.06rem;
  color: white;
  background: linear-gradient(91.42deg, $secondary_color 0%, $blue_color 100%);
  border-radius: 25px;
  &__header {
    width: 100%;
    text-align: center;
    padding-top: 1.875rem;
    font-size: 2.813rem;
  }

  .musify__section {
    @include utils.flexBox(space-around, center);
    gap: 24.02px;
    .musify__container {
      font-size: 2.25rem;
      @include utils.flexBox(center, center);
      gap: 1.313rem;
      padding: 1.938rem 1.938rem;
    }
  }
}

.exclusive-section {
  @include utils.flexBox(space-around, center);
  &__left {
    position: relative;
    @include utils.flexBox(center, center);
    &-offer {
      font-size: 3rem;
      background-color: $secondary_color;
      color: white;
      border-radius: 100%;
      height: 10.375rem;
      padding: 20px;
      text-align: center;
      @include utils.flexBox(center, center);
      position: absolute;
      top: 0;
      left: 0;
      box-shadow: 8px 10px 17px 0px #00000040;
    }
  }
  .exclusive-section__right {
    @include utils.flexBox(space-around, center);
    flex-direction: column;
  }
}

.exclusive-section__header {
  font-size: 4.063rem;
}

.exclusive-section__content {
  padding: 6.688rem 0 0 0;
  .exclusive-section__offer {
    font-size: 2.25rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 27px;
  }
  .exclusive-section__time {
    @include utils.flexBox(space-around, center);
    gap: 20px;
    &-unit {
      font-size: 2.25rem;
      font-weight: 400;
      padding-bottom: 3rem;
      padding-top: 6px;
    }
    &-period {
      background-color: $secondary_color;
      color: white;
      height: 6.25rem;
      width: 6.25rem;
      border-radius: 32px;
      font-size: 3.75rem;
      @include utils.flexBox(center, center);
    }
    .exclusive-section__time-container {
      @include utils.flexBox(space-around, center);
      flex-direction: column;
    }
  }
}
.exclusive-section--sm {
  display: none;
}
.exclusive-section--lg {
  display: flex;
}
.accessories-section {
  margin-top: 12.063rem;
  @include utils.flexBox(center, center);
  flex-direction: column;
  &__header {
    font-size: 4.063rem;
    margin-bottom: 8.938rem;
  }
  &__products {
    @include utils.flexBox(center, start);
    gap: 30px;
    width: 100%;
    flex-wrap: wrap;
  }
  .accessories-section__img-wrapper {
    width: 45rem;
  }
}

.arrivals-section {
  margin-top: 7.688rem;
}

.arrivals {
  width: 31.313rem;
  border: 5px solid $blue_color;
  background-color: $secondary_color;
}
.scan-section {
  padding: 5rem 0;
  @include utils.flexBox(space-around, center);
  &__right {
    @include utils.flexBox(center, center);
    flex-direction: column;
    gap: 15px;
  }
}
.scan-section__header {
  font-size: 3.5rem;
}
.scan-section__desc {
  font-size: 2rem;
  font-weight: 400;
}
.scan-section__btns {
  height: max-content;
  @include utils.flexBox(center, center);
  gap: 21px;
}

.search-container--sm,
.navbar__burger {
  display: none;
}

@media screen and (max-width: 900px) {
  .main__img-wrapper {
    display: none;
  }
  .main-section {
    position: static;
    &__left {
      text-align: center;
    }
  }

  .main__desc {
    font-size: 1.125rem;
  }

  .musify__section {
    flex-direction: column;
  }
  .main-section {
    text-align: center;
  }
  .buttons-section {
    justify-content: center;
  }
  .card-section-row {
    padding: 3.75rem 2.5rem;
    gap: 1.87rem;
  }
  .main__card-section {
    width: 63%;
  }
  .main__header {
    color: #000;

    font-size: 3.5rem;
    width: 100%;
    line-height: 3.75rem; /* 107.143% */
    letter-spacing: 0.14rem;
  }
  .main-section__left {
    width: 100%;
    margin-bottom: 5rem;
  }
  .btn {
    font-size: 1.0625rem;
  }
  .navbar__menu,
  .search,
  .login {
    display: none;
  }

  .navbar__burger {
    display: block;
    width: 23%;
  }
  .navbar__space {
    width: auto;
  }
  .navbar {
    padding: 1.25rem;
    &__toggle {
      margin-right: 0;
    }
  }
  .scan-section {
    flex-direction: column;
  }
  .exclusive-section {
    flex-direction: column;
  }
  .search-container--sm {
    display: block;
    width: 100%;
    margin: auto;
    position: relative;
    bottom: 20px;
  }
  .search-field {
    border-radius: 1.875rem;
    border: 2px solid #e5e5e5;
    background: rgba(255, 255, 255, 0.6);
    padding: 0.64rem 2.29rem;
    width: 80%;
    color: #858585;
    outline: none;
  }

  .search-label {
    position: absolute;
    left: 15px;
    top: 8px;
  }
  .main__footer {
    position: relative;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .main-section__left {
    padding-left: 2rem;
    position: relative;
    top: 3.5rem;
  }
  .main-section__right {
    width: 90%;
    padding-left: 1.69rem;
    padding-right: 1.69rem;
  }
  .main__card-section {
    border-radius: 1.5625rem;
    border: 1px solid rgba(0, 0, 0, 0.12);

    background: rgba(40, 40, 40, 0.7);
    color: white;
    backdrop-filter: blur(15px);
  }
  .musify {
    margin: 3rem;
    &__section {
      gap: 0px;
    }
    &__header {
      font-size: 1.5rem;
    }
    &__container {
      width: 60%;

      & > p {
        width: 100%;
        font-size: 1.25rem;
      }
    }
  }
  .exclusive-section__left {
    flex-direction: column-reverse;
    width: 70%;
    &-offer {
      width: 7rem;
      height: 7rem;
      padding: 19px;
    }
  }
  .accessories-section__products {
    width: 87%;
  }

  .scan-section__right {
    padding: 2.5rem;
    text-align: center;
  }
  .scan-section__btns {
    flex-direction: column;
    gap: 0px;
  }

  .scan-section__header {
    font-size: 1.75rem;
  }
  .scan-section__desc {
    font-size: 1.625rem;
  }
  .section-header {
    font-size: 2.875rem;
  }
  .accessories-section {
    margin-top: 4.7rem;
  }
  .accessories-section__header {
    font-size: 2rem;
    margin-bottom: 2.69rem;
  }
  .exclusive-section__header {
    font-size: 2.75rem;
  }
  .exclusive-section--lg {
    display: none;
  }
  .exclusive-section--sm {
    display: flex;
    gap: 3.38rem;
  }
  .exclusive-section__content {
    padding: 0rem 0 0 0;
  }
  .exclusive-section__left-offer {
    font-size: 1.87rem;
  }

  .scan-section__qr-img {
    margin: auto;
    width: 12rem;
    & > img {
      width: 100%;
    }
  }
}
