.header {
  @include flex-box(center, space-between, 0);
  z-index: 99;
  // @include positionTL(absolute, 0, 0);
  &__search {
    @include flex-box(center, flex-start, 8px);
    background: $white;
    box-shadow: 0 4px 10% -2px gray;
    padding: 12px 16px;
    border-radius: 30px;
    color: #858585;
    border: 2px solid #e5e5e5;
    input {
      color: #858585;
      font-size: 16px;
      border: none;
      width: 100%;
    }
  }
  &__menu {
    outline: none;
    background: none;
    border: none;
    font-size: 21px;
    cursor: pointer;
  }
  &__logo {
    &--big {
      display: none;
      z-index: 99;
      img {
        width: 100px;
      }
    }
    &--small {
      img {
        width: 7.8125rem;
        min-width: 60px;
      }
    }
  }
  &__content {
    @include flex-box(center, flex-start, 0);
    z-index: 99;
    //theme cahange button
    .checkbox {
      opacity: 0;
      position: absolute;
    }
    .checkbox-label {
      background-color: $white;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
      width: 60px;
      height: 27px;
      border-radius: 30px;
      position: relative;
      padding: 6px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .fa-moon {
      color: #f1c40f;
      font-size: 16px;
    }
    .fa-sun {
      color: #f39c12;
      font-size: 16px;
    }
    .checkbox-label .ball {
      background-color: #888888;
      width: 21px;
      height: 21px;
      position: absolute;
      left: 3px;
      top: 3px;
      border-radius: 50%;
      transition: transform 0.2s linear;
    }
    .checkbox:checked + .checkbox-label .ball {
      transform: translateX(33px);
    }
    &--right {
      @include flex-box(center, flex-start, 0);
      i {
        font-size: 2rem;
        &:first-child {
          margin-inline: 2.5rem;
          display: none;
        }
      }
      .button {
        padding: 0.875rem 2.375rem;
        font-size: 1.25rem;
        margin-left: 3.875rem;
        display: none;
      }
    }
  }
  &__content--items {
    @include positionTL(fixed, 0, -100%);
    @include hw(100%, 100%);
    background: rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease-in-out;
    z-index: 999;
    .menu__items {
      position: relative;
      @include hw(100%, 60%);
      background: $primary;
    }
  }
  .header__close--btn {
    @include positionTR(absolute, 20px, 20px);
    color: $white;
    font-size: 1.5rem;
    cursor: pointer;
  }
  &__items {
    @include ul(0, 0);
    @include flex-box(flex-start, flex-start, 3.125rem);
    flex-direction: column;
    list-style: none;
    padding: 48px 24px;
    &--link {
      position: relative;
      @include typography(1.0625rem, 400);
      font-size: 1.5rem;
      text-decoration: none;
      color: $white;
      &.active::before {
        @include positionBL(absolute, -5px, 0);
        content: "";
        @include hw(2px, 100%);
        background: $primary;
      }
      &::before {
        @include positionBL(absolute, -5px, 0);
        content: "";
        @include hw(2px, 0);
        background: $primary;
        transition: all 0.5s ease-in-out;
      }
      &:hover {
        &::before {
          width: 100%;
        }
      }
      // &:hover {
      //     border-bottom: 2px solid $primary;
      // }
    }
  }
}
