@media screen and (max-width: 900px) {
  // .main__img-wrapper {
  //   display: none;
  // }
  .main-section {
    position: static;
    padding: 0;
    text-align: center;

    &__left {
      text-align: center;
      padding: 20px;
    }
    .main__header {
      font-size: 3.5rem;
      width: 100%;
      line-height: 55px;
    }
    .main__desc {
      font-size: 1.125rem;
    }
  }

  .musify__section {
    flex-direction: column;
  }

  // .buttons-section {
  //   justify-content: center;
  // }
  .card-section-row {
    padding: 3.75rem 2.5rem;
    gap: 1.87rem;
  }

  .main__header {
    color: #000;

    font-size: 3.5rem;
    width: 100%;
    line-height: 3.75rem; /* 107.143% */
    letter-spacing: 0.14rem;
  }
  .main-section__left {
    width: 100%;
    // margin-bottom: 5rem;
  }
  .btn {
    font-size: 1.0625rem;
  }
  .navbar__menu,
  .search,
  .login {
    display: none;
  }

  .navbar__burger {
    display: block;
    width: 23%;
  }
  .navbar__space {
    width: auto;
  }
  .navbar {
    padding: 1.25rem;
    &__toggle {
      margin-right: 0;
    }
  }
  .scan-section {
    flex-direction: column;
    padding: 2rem 0rem;
  }
  .exclusive-section {
    flex-direction: column;
  }
  .search-container--sm {
    position: absolute;
    bottom: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    padding: 0.5rem 0.8rem;
    & > .search-label {
      position: absolute;
      left: 20px;
    }
  }
  .footer__top-sm {
    display: block;
  }
  .search-field {
    border-radius: 1.875rem;
    border: 2px solid #e5e5e5;
    background: rgba(255, 255, 255, 0.6);
    padding: 0.64rem 2.29rem;
    width: 100%;
    color: #858585;
    outline: none;
    box-shadow: 4px 6px 8px 0px #00000040;
  }
  header {
    position: relative;
  }

  // .main__footer {
  //   position: relative;
  //   flex-direction: column-reverse;
  //   align-items: end;
  //   justify-content: center;
  // }

  // .main__card-section {
  //   border-radius: 1.5625rem;
  //   border: 1px solid rgba(0, 0, 0, 0.12);

  //   background: rgba(40, 40, 40, 0.7);
  //   color: white;
  //   backdrop-filter: blur(15px);
  // }
  .card__img-wrapper {
    min-width: 17.5rem;
    height: 17.6875rem;
  }
  .musify {
    &__section {
      gap: 0px;
    }
    &__header {
      font-size: 1.5rem;
    }
    &__container {
      width: 60%;
      padding: 0.938rem 1.938rem !important;
      & > p {
        width: 100%;
        font-size: 1.25rem;
      }
    }
  }
  .exclusive-section__left {
    flex-direction: column-reverse;
    width: 70%;
    &-offer {
      width: 7rem;
      height: 7rem;
      padding: 19px;
    }
  }
  .accessories-section__products {
    width: 87%;
  }

  .scan-section__right {
    padding: 2.5rem;
    text-align: center;
  }
  .scan-section__btns {
    flex-direction: column;
    gap: 0px;
  }

  .scan-section__header {
    font-size: 1.75rem;
  }
  .scan-section__desc {
    font-size: 1.625rem;
  }
  .section-header {
    font-size: 2.875rem;
  }
  .accessories-section {
    margin-top: 4.7rem;
  }
  .accessories-section__header {
    font-size: 2rem;
    margin-bottom: 2.69rem;
  }
  .exclusive-section__header {
    font-size: 2.75rem;
  }
  .exclusive-section--lg {
    display: none;
  }
  .exclusive-section--sm {
    display: flex;
    gap: 3.38rem;
  }
  .exclusive-section__content {
    padding: 0rem 0 0 0;
  }
  .exclusive-section__left-offer {
    font-size: 1.87rem;
  }

  .scan-section__qr-img {
    margin: auto;
    width: 12rem;
    & > img {
      width: 100%;
    }
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  .navbar__space {
    width: auto;
  }
  .accessories-section .accessories-section__img-wrapper {
    width: 29rem;
  }
  .accessories-section__img-wrapper {
    width: 38rem;
  }
  .scan-section__right {
    margin-left: 52px;
  }
  .main-section {
    position: static;
  }
}
@media (max-width: 1300px) {
  .main__footer {
    position: relative;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .buttons-section {
    padding: 0;
    justify-content: center;
  }
  .main-section__right {
    width: 90%;
    padding-left: 1.69rem;
    padding-right: 1.69rem;
  }
  .main__card-section {
    border-radius: 1.5625rem;
    border: 1px solid rgba(0, 0, 0, 0.12);

    background: rgba(40, 40, 40, 0.7);
    color: white;
    backdrop-filter: blur(15px);
  }
  .main__img-wrapper {
    display: none;
  }
  .main-section {
    text-align: center;
    position: static;
    padding: 0;
    &__left {
      text-align: center;
      padding: 20px;
      width: 100%;
    }
    .main__header {
      font-size: 3.5rem;
      width: 100%;
    }
  }

  .main__desc {
    font-size: 1.125rem;
  }
}
