@media screen and (max-width: 900px) {
  .main-section {
    position: static;
    padding: 0;
    text-align: center;

    &__left {
      text-align: center;
      padding: 20px;
    }
    .main__header {
      font-size: 3.5rem;
      width: 100%;
      line-height: 55px;
    }
    .main__desc {
      font-size: 1.125rem;
    }
    &__left {
      width: 100%;
    }
  }

  .musify__section {
    flex-direction: column;
  }

  .card-section-row {
    padding: 3.75rem 2.5rem;
    gap: 1.87rem;
  }

  .main__header {
    color: #000;

    font-size: 3.5rem;
    width: 100%;
    line-height: 3.75rem;
    letter-spacing: 0.14rem;
  }

  .btn {
    font-size: 1.0625rem;
  }
  .navbar__menu,
  .search,
  .login {
    display: none;
  }

  .navbar {
    padding: 1.25rem;
    &__toggle {
      margin-right: 0;
    }
    &__burger {
      display: block;
      width: 23%;
    }
    &__space {
      width: auto;
    }
  }
  .scan-section {
    flex-direction: column;
    padding: 2rem 0rem;
  }

  .search-container--sm {
    position: absolute;
    bottom: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    padding: 0.5rem 0.8rem;
    & > .search-label {
      position: absolute;
      left: 20px;
    }
  }

  .country {
    width: 100%;
  }

  .search-field {
    border-radius: 1.875rem;
    border: 2px solid #e5e5e5;
    background: rgba(255, 255, 255, 0.6);
    padding: 0.64rem 2.29rem;
    width: 100%;
    color: #858585;
    outline: none;
    box-shadow: 4px 6px 8px 0px #00000040;
  }
  header {
    position: relative;
  }

  .card__img-wrapper {
    min-width: 17.5rem;
    height: 17.6875rem;
  }
  .musify {
    &__section {
      gap: 0px;
    }
    &__header {
      font-size: 1.5rem;
    }
    &__container {
      width: 60%;
      padding: 0.938rem 1.938rem !important;
    }
    &__list {
      width: 100%;
      font-size: 1.25rem;
    }
  }
  .scan-section {
    &__right {
      padding: 2.5rem;
      text-align: center;
    }
    &__btns {
      flex-direction: column;
      gap: 0px;
    }
    &__header {
      font-size: 1.75rem;
    }
    &__desc {
      font-size: 1.625rem;
    }
    &__qr-img {
      margin: auto;
      width: 12rem;
      .qr-image {
        width: 100%;
      }
    }
  }

  .section-header {
    font-size: 2.875rem;
  }
  .accessories-section {
    margin-top: 4.7rem;
    &__header {
      font-size: 2rem;
      margin-bottom: 2.69rem;
    }
    &__products {
      width: 87%;
    }
  }
  .exclusive-section {
    flex-direction: column;

    &__header {
      font-size: 2.75rem;
    }
    &__content {
      padding: 0rem 0 0 0;
    }
    &--lg {
      display: none;
    }
    &--sm {
      display: flex;
      gap: 3.38rem;
    }
    &__left {
      flex-direction: column-reverse;
      width: 70%;
      &-offer {
        width: 7rem;
        height: 7rem;
        padding: 19px;
        font-size: 1.87rem;
      }
    }
  }
  .body--dark .main--dark::before {
    content: "";
    background-color: $blue_color;
    filter: blur(250px);
    position: absolute;
    left: 0;
    height: 56.5rem;
    width: 100%;
    bottom: 20px;
    z-index: -1;
    transition: all 0.5s ease-in;
    color: white;
    border-radius: 56.5rem;

    filter: blur(250px);
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  .navbar__space {
    width: auto;
  }
  .accessories-section .accessories-section__img-wrapper {
    width: 29rem;
  }

  .scan-section__right {
    margin-left: 52px;
  }
  .main-section {
    position: static;
  }
}
@media (max-width: 1300px) {
  .main__footer {
    position: relative;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .buttons-section {
    padding: 0;
    justify-content: center;
  }
  .main__card-section {
    border-radius: 1.5625rem;
    border: 1px solid rgba(0, 0, 0, 0.12);

    background: rgba(40, 40, 40, 0.7);
    color: white;
    backdrop-filter: blur(15px);
  }
  .main__img-wrapper {
    display: none;
  }
  .main-section {
    text-align: center;
    position: static;
    padding: 0;
    &__left {
      text-align: center;
      padding: 20px;
      width: 100%;
    }
    &__right {
      width: 90%;
      padding-left: 1.69rem;
      padding-right: 1.69rem;
    }
    .main__header {
      font-size: 3.5rem;
      width: 100%;
      margin-top: 10px;
    }
  }

  .main__desc {
    font-size: 1.125rem;
  }
  .footer {
    padding: 1rem 1.2rem;
    width: 100%;
    &__top-sm {
      display: block;
    }
    &__input {
      font-size: 1rem;
    }
    &__header:last-child {
      width: 100%;
      text-align: center;
    }
    &__img > .footer__img-img {
      width: 100%;
    }
    flex-direction: column;
    &__content {
      margin-bottom: 2.25rem;
    }
    &__header,
    &__desc {
      font-size: 1.5rem;
    }
    &__top {
      flex-direction: column;
    }
    &__left {
      flex-direction: column;
      &-top {
        flex-direction: column;
      }
    }
    &__newsletter {
      flex-direction: column;
      &-form {
        flex-direction: column;
      }
    }
    &__right {
      align-items: start;
    }
    &--sm &__header {
      margin-bottom: 30px;
    }
    &--lg {
      display: none;
    }
    &--sm {
      display: flex;
      gap: 3.38rem;
    }
  }
}
